.preview-wrapper {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.preview-wrapper iframe {
  height: 100%;
  width: 100%;
  background-color: white;
  pointer-events: none;
}

.preview-error {
  position: absolute;
  top: 10px;
  left: 10px;
  color: red;
}
